@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,500;1,800&family=Roboto:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* 
   * Colors 
   * ============*/
  --clr-white: #fcfcfc;
  --clr-black: #140704;

  --clr-pink: #e8c9df;
  --clr-red: #46190e;
  --clr-yellow: #f5f05b;
  --clr-green: #a6d879;

  /* 
   * Grey 
   * =======*/
  --clr-grey: #fafbfc;
  --clr-grey-10: #eaedf3;
  --clr-grey-20: #e2e7ef;
  --clr-grey-30: #dbe0ea;
  --clr-grey-40: #d3dae6;
  --clr-grey-50: #cbd3e1;

  
  /* 
  * Typography
  * ==================*/
  --f-headings: "Montserrat", sans-serif;
  --f-body: "Montserrat", sans-serif;
  --f-spacing: 1px;
  
  /* 
   * Box Shadows 
   * ==================*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* 
   * Other Stuff
   * ==================*/
  --borderRadius: 1rem;
  --transition: 0.3s ease-in-out all;
  --max-width: 96vw;
}

/*
=============== 
# Global Styles
===============
*/

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 87.5%;
  word-wrap: break-word;
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 112.5%;
    --max-width: 1440px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 125%;
  }
}

body {
  background: var(--clr-grey);
  color: var(--clr-black);
  font-family: var(--f-body);
  font-weight: 400;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 0.5em;
  font-family: var(--f-headings);
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: var(--f-spacing);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  margin: 0;
  margin-bottom: 1.25em;
  font-size: 1.2rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  box-shadow: var(--shadow-2);
}

button {
  background-color: transparent;
  border: none;
  box-shadow: transparent;
}

button,
.btn {
  cursor: pointer;
  appearance: none;
  border: none;
  letter-spacing: var(--f-spacing);
  padding: 0.75em 1em;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
}

button:hover,
.btn:hover {
  color: var(--clr-white);
  box-shadow: var(--shadow-2);
  border: 2px solid var(--clr-black);
}


/*
=============== 
# Home Page 
===============
*/

.hero {
  position: relative;
  z-index: -5;
}

.hero-img {
  border-radius: var(--borderRadius);
}

.welcome-wrap {
  background: var(--clr-pink);
  background: linear-gradient(182.36deg, #e8c9df 24.69%, #f4f1f3 102.14%);
  margin-top: -1rem;
}

.welcome {
  display: grid;
  grid-template-areas: 
    "w-figure"
    "w-article"
  ;
  margin-top: -1.25rem;
  padding: 0 1em 1em;
}

.welcome article {
  font-family: "Marck Script", cursive;
  grid-area: w-article;
}

.welcome figure {
  grid-area: w-figure;
}

.welcome-image {
  display: block;
  margin: 0 auto;
  border-radius: var(--borderRadius);
}

.welcome h3 {
  margin-bottom: 0;

  font-family: inherit;
  font-weight: 700;
  font-size: 2rem;
}

.welcome p {
  margin-bottom: 0.25em;
  font-size: 1.3rem; 
}

.welcome-signature {
  margin-bottom: 0;
  margin-left: 6.5em;

  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 700;
  /* background-image:  url("/bg-leaf.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;  */
}



@media screen and (min-width: 992px) {
  .hero {
    height: 70%;
  }

  .hero-img {
    border-radius: 0;
  }

  .welcome-wrap {
    margin-top: -4rem;
    width: 100%;
    height: 88%;
  }

  .welcome article {
    margin-top: -1.5rem;
  }

  .welcome {
    display: grid;
    grid-template-areas: 
      "w-article w-figure"
    ;
    margin-top: -1.25rem;
    padding: 0 1em 1em;
  }

  .welcome {
    grid-template-columns: 1fr 350px;
    align-items: center;
    gap: 6%;
    width: 80vw;
    margin: 0 auto;
    padding: 0 1em;
    margin-top: -3rem;
    padding-bottom: 3rem;
  }

  .welcome h3 {
    font-size: 2.25rem;
  }

  .welcome-signature {
    font-size: 1.8rem;
    text-align: right;
    margin-right: 2.6em;
  }

  .welcome-img {
    order: 2;
  }
}

/*
=============== 
# Photo Book 
===============
*/

.photo-book {
  background: #f4f1f3;
}

.photo-book-info {
  margin-top: -6rem;
  padding-top: 8rem;
  padding-bottom: 1rem;

  background: var(--clr-red);

  font-family: "Montserrat", sans-serif;
  color: var(--clr-white);
}

.photo-book-info h2 {
  margin-bottom: 0;

  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
}

.photo-book-info p {
  margin-bottom: 0;

  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
}

.photo-book-text-box {
  margin-top: -1em;
  text-align: center;
}

.photo-book-img {
  display: block;

  width: 73%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 992px) {
  .photo-book {
    margin-top: -1rem;

    background: transparent;
  }

  .photo-book-info {
    margin-top: -6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    background: var(--clr-red);
    color: var(--clr-white);
  }

  .photo-book-text-box {
    margin-left: 20rem;

    margin-top: 0;
  }

  .photo-book-info h2 {
    font-size: 1.6rem;
  }

  .photo-book-info p {
    font-size: 1.5rem;
    letter-spacing: 4px;
  }

  .photo-book-img {
    display: inline-block;

    width: 17%;
    margin-left: 15rem;
    margin-top: -2rem;
  }
}

/* 
? WRITINGS 
! ================*/
.writings {
  background: #fbfaf9;
  max-width: var(--max-width);
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .writings {
    width: 80vw;
    margin: 0 auto;
    padding: 0 1em;
  }
}

/* 
# Pages
? =============================================  */

.page {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-bottom: 2em;
}

.page-header {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 3px solid var(--grey);
}

.page-title {
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding: 0.25em 0;
  margin-bottom: ;
}

.page-hero-img {
  display: block;
  height: 80%;
  padding: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.about-img {
  margin-bottom: 1.5rem;
  padding-top: 5.75rem;
  width: 100%;
}

.page-hero-info {
  font-family: "Marck Script", cursive;
}

.page-hero-info p {
  font-size: 1.5rem;
}

.page-content p {
  margin-bottom: 1.25em;
}

.media-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  padding: 0.5em 0;
  margin-top: 1em;
}

.folder-title {
  font-weight: 800;
  padding: 0.25em 2rem;
  font-size: 2rem;
  /* background-color: var(--grey); */
}

@media screen and (min-width: 992px) {
  .page {
    padding-bottom: 2em;
  }

  .page-title {
    padding: 0.25em 0;
  }
  

  .page-header {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .page-hero {
    display: flex;
  }

  .page-hero-info p {
    margin-bottom: 0;
  }

  .page-hero-img {
    flex: 100%;
    margin-right: 4rem;
  }

  .page-content-center {
    max-width: 70%;
    margin: 0 auto;
  }

  .about-img {
    height: 30.1rem;
    width: 100%;
  }
}

/* 
? Dham-Seva 
# ================*/

.excerpt-content {
  background: linear-gradient(179.45deg, #f5f3f1 20.41%, #fbfaf9 95.35%);
}

.excerpt-title {
  padding: 1em;

  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
  line-height: 125%;
}

.excerpt-quotes {
  margin-top: 2rem;
}

.excerpt-letters h2 {
  font-size: inherit;
}

@media screen and (min-width: 992px) {
  .dham-img {
    margin-top: 1rem;
    height: 34ch;
  }

  .dham-info p:last-child {
    margin-bottom: 0;
  }

  .excerpt-img {
    display: block;
    border-radius: 1rem;
  }
}

/* 
# Components 
! =============================================  */



.quote-container {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  margin-bottom: 1em;
  border-radius: 0.5rem;
  padding: 1em;
}

.quote {
  margin: 0;
  padding: 0 0.25em;

  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.author {
  margin: 0;

  font-size: 1.3rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 2px;
  text-align: right;
}

.gallery:first-child {
  margin-top: 0;
}

.gallery {
  margin-top: 3rem;
}

.image-grid {
  display: grid;
  grid-gap: 0.5rem;
  grid-auto-rows: minmax(50px, auto);
}
.image-grid .image-item:nth-child(5n) {
  grid-column-end: span 2;
}
.image-grid img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 992px) {
  .wave-up {
    margin-top: -6rem;
  }

  .gallery {
    margin-top: 8rem;
  }

  .gallery .folder-title {
    margin-bottom: 1em;
  }

  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

/*
 * Writings  
 */

.writing {
  padding: 0 0.5em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dddddd;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(241, 241, 241);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.writing-category {
  display: flex;
  flex-direction: column;
  max-width: 1350px;
  margin: 0 auto;

  padding: 1em 0;

  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
}

.cat-title {

  margin: 0 0.5rem;
  margin-bottom: 1rem; 
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: capitalize;
}

.cat-list {
  margin: 0;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.7;
  max-height: 20vh;
  overflow-y: scroll;
}

.cat-list li {
  list-style-position: inside;
  list-style-image: url("/leaf.png");
}

.cat-list a {
  text-decoration: none;
}

.cover-wrapper {
  display: flex;
  justify-content: center;
}

.cover {
  border-radius: 8px;
  width: 100%;
}

.writing-body {
  font-size: clamp(1rem, 3vw, 1.55rem);
}

.writing-body p {
  margin-bottom: 1em;
}

.banner {
  z-index: -25;
}

@media screen and (min-width: 962px) {
  .writing-category {
    max-width: 1350px;
    flex-direction: row;
    padding: 1em 0;
    margin-bottom: 4rem;
  }

  .cat-title {

    align-self: center;
    margin-left: 3em;
    width: 38%;
  }

  .cat-list {
    /* border: solid 5px green;  */
    margin: 0;
    padding-right: 0.3em;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.7;
    max-height: 40vh;
    width: 60%;
  }

  .cat-list a {
    text-decoration: none;
  }
}

.nav-link:focus, .nav-link:hover {
  color: var(--clr-black);
}



/*
=============== 
# Utility 
===============
*/

.inner-container {
  width: 80%;
  margin: 0 auto;
}

.container {
  padding: 5rem 0;
}

.yellow {
  background: var(--clr-yellow);
}

.green {
  background: var(-clr--clr-green);
}

.pink {
  background: var(--clr-pink);
}

.wave {
  width: 100%;
  height: 100%;
}

.wave-up {
  margin-top: -3rem;
}

